*.iml
.gradle
.idea
*.pyc
/.idea/
*/__pycache__
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/dist
/runs
/captures
.externalNativeBuild
__pycache__/
*.py[cod]
previous_commit.txt